*{
    margin: 0;
    padding: 0;
}
/* inter-font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* raleway-font */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.color-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
     border-radius: 10px;
}
  
main section{
    margin-bottom: 130px;
}


.hero{
    background-image: url("../Assets/Hero-bg.png");
    height: 690px;
}

/* nav styles */


.navber{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 150px;
    max-width: 1140px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.navber h1{
    color: #4E47FF;
    font-size: 34px;
}
.sign-btn{
    width: 132px;
    height: 48px;
}

/* title styles */

.title{
    height: 237px;
    width: 905px;
    margin: 0 auto;
    text-align: center;
}
.logo-title{
    font-size: 62px;
    color: #252432;
    padding-bottom: 37px;
}
.stay-btn{
height: 48px;
width: 174px;
}

/* launch styles */

.launch{
    height: 328px;
    width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;

}
.description{
    height: 203px;
    width: 517px;
}
.description h2{
    font-size: 42px;
    padding-bottom: 20px;
}

.description p{
      font-size: 24px;
    padding-bottom: 20px;
    color: #252432;
    font-weight:lighter;
}
.launch-pic img{
    height: 328px;
    width: 403px;
    border-radius: 40px;
}
.launch-btn{
    width: 229px;
    height: 48px;
}
/* users styles */
.users{
    max-width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 130px;
}
.user-title{
    font-size: 38px;
    padding-bottom: 40px;
    color: #252432;
    padding-top: 50px;
}
.productive-users{
    height: 121px;
    width: 856px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.num{
    font-size: 80px;
    color: #4E47FF;
}

.status{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
}